<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1541975902628-b157a9411603?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80);">
  <div class="banner-text">
    <h1>Discover<strong> new tastes</strong> tonight!</h1>
    <p>Set your curiosity free, try a new cocktail and relax</p>
    <%= link_to "Add New Cocktail", new_cocktail_path, class: "btn btn-danger" %>
  </div>
</div>
<div class="layout-container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
          <div class="card-product-infos">
            <h2><%= cocktail.name.capitalize %></h2>
            <p><strong>Ingredients:</strong> </p>
            <% cocktail.ingredients.each do |ingredient| %>
            <ul class="list-line">
              <li><%= ingredient.name.capitalize + " "%></li>
            </ul>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>






